# Ignore node_modules
node_modules/

# Ignore npm logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment variable files
.env

# Ignore coverage directory
coverage/

# Ignore build directories
/dist
/build

# Ignore logs
*.log
